<footer class="site-footer">
    <div class="wrapper">
        <!-- Google Analitics -->

        <!-- Google Analinics  -->

        <div align="center">
            {% if page.keywords %}
            <p>
                <strong>Tags:</strong> {{ page.keywords | strip_html |
                strip_newlines | truncate: 160 }} {% endif %}
            </p>
        </div>

        <h2 class="footer-heading" align="center">PL/SQL</h2>

        <p align="center">
            Opensource project with codes on
            <a href="https://bitbucket.org/plsql/plsql.org" rel="nofollow"
                >bitbucket</a
            >.
        </p>
    </div>
</footer>
